<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Cloud-X</title>
    <link rel="stylesheet" href= "{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome5-overrides.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/styles.min.css" %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-cloud"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Cloud-X</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url "index" %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url "profile" %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url "cloudx" %}"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a>
                                        <a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.first_name}}</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <a
                                            class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container" style="width: 690px;">
                <div class="mail-custom-btn" style="width: 929px;height: 36px;"><a class="custom-btn light-btn" href="#" role="button" style="float: right;"><i class="fa fa-upload"></i></a><a class="custom-btn light-btn" href="#" role="button" style="float: right;"><i class="fa fa-trash"></i></a><a class="custom-btn light-btn"
                        href="#" role="button" style="float: right;"><i class="fa fa-file"></i></a><a class="custom-btn light-btn" href="#" role="button" style="float: right;"><i class="fa fa-download"></i></a><a class="custom-btn light-btn" href="#" role="button"
                        style="float: right;"><i class="fa fa-folder"></i></a><a class="custom-btn light-btn" href="#" role="button" style="float: right;"><i class="fa fa-refresh"></i></a></div>
            </div>
            <hr>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Storage Information</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-nowrap"></div>
                        <div class="col-md-6">
                            <div class="text-md-right dataTables_filter" id="dataTable_filter"><label><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                        </div>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>owner</th>
                                    <th>Last Modified</th>
                                    <th>File Size</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-folder"></i> Airi Satou</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>33 kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-folder"></i> Angelica Ramos</td>
                                    <td>me</td>
                                    <td>{{date}}<br></td>
                                    <td>47&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-folder"></i> Ashton Cox</td>
                                    <td>me</td>
                                    <td>{{date}}<br></td>
                                    <td>66&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-folder"></i> Bradley Greer</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>41&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-folder"></i> Brenden Wagner</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>28&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-file"></i> Brielle Williamson</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>61&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-file"></i> Bruno Nash<br></td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>38&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-file"></i> Caesar Vance</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>21&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-file"></i> Cara Stevens</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>46&nbsp;kb</td>
                                </tr>
                                <tr>
                                    <td><input type="radio">&nbsp;<i class="fa fa-file"></i> Cedric Kelly</td>
                                    <td>me</td>
                                    <td>{{date}}</td>
                                    <td>22&nbsp;kb</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td><strong>Owner</strong></td>
                                    <td><strong>Last Modified</strong></td>
                                    <td><strong>File Size</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 align-self-center">
                            <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                        </div>
                        <div class="col-md-6">
                            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Cloud-X 2019</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <div class="container-fluid"></div>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/chart.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static "assets/js/script.min.js" %}"></script>
</body>

</html>